<!-- Start site footer -->
footer(class="site-footer")
  div(class="container")
    div(class="row")
      div(class="col-md-6 col-sm-12")
        div(class="widget footer-widget")
          h4(class="widget-title") About our club
          br()
          p.
            Melbourne Metropolitan Pool League Inc. (MMPL) is a non-profit 
            organisation established to promote and co-ordinate the sport 
            of 8-Ball in the inner district of Melbourne. The MMPL conducts 
            two seasons of competition annually, the more highly-regarded 
            one in winter (April to September – usually about 18 rounds) 
            and the less-serious one in summer (November to March – usually 
            about 9 rounds), in which up to 20 separate venues participate 
            in the Melbourne CBD and surrounding areas.
      div(class="col-md-3 col-md-offset-3 d-none d-md-block")
        div(class="widget footer-widget widget_links")
          h4(class="widget-title") Navigation
          ul
            li
              a(href="/") Home
            li
              a(href="https://poolstat.net.au/mmpl") Stats
            li
              a(href="#") History
            li
              a(href="#") About
            li
              a(href="#") Join

footer(class="site-footer-bottom")
  div(class="container")
    div(class="row")
      div(class="col-md-6 col-sm-6 copyrights-left")
        p &copy; MMPL | Ben Elliot | 2021 | All rights reserved.
      div(class="col-md-6 col-sm-6 copyrights-right")
        ul(class="pull-right social-icons-colored")
          li(class="facebook")
            a(href="https://www.facebook.com/groups/854334581584171/")
              i(class="fa fa-users")
          li(class="facebook")
            a(href="https://www.facebook.com/mel.met.pool.league")
              i(class="fa fa-facebook-f")