div(class="topbar")
  div(class="container")
    div(class="row")
      div(class="col-md-6  col-sm-6")
        p Melbourne Metropolitan Pool League
      div(class="col-md-6 col-sm-6")
        ul(class="pull-right social-icons-colored")
          li(class="facebook")
            a(href="https://www.facebook.com/groups/854334581584171/")
              i(class="fa fa-users")
          li(class="facebook")
            a(href="https://www.facebook.com/mel.met.pool.league")
              i(class="fa fa-facebook-f")

div(class="site-header-wrapper")
  header(class="site-header")
    div(class="container sp-cont")
      div(class="site-logo")
        h1
          a(href="/")
            img(src="images/mmpl-logo-100x100.png" alt="Logo")

      a(href="#" class="visible-sm visible-xs" id="menu-toggle")
        i(class="fa fa-bars")

      <!-- Main Navigation -->
      nav(class="main-navigation dd-menu toggle-menu" role="navigation")
        ul(class="sf-menu")
          li
            a(href="/") Home
          li
            a(href="https://poolstat.net.au/mmpl") Stats
          li
            a(href="#") History
            ul(class="dropdown")
              li
                a(href="#") Winter Champions
                ul(class="dropdown")
                  li
                    a(href="#") Premier
                  li
                    a(href="#") Division 1
                  li
                    a(href="#") Division 2
                  li
                    a(href="#") Division 3
              li
                a(href="#") Summer Champions
                ul(class="dropdown")
                  li
                    a(href="#") Premier
                  li
                    a(href="#") Division 1
                  li
                    a(href="#") Division 2
                  li
                    a(href="#") Division 3 & 4
          li
            a(href="#") About
            ul(class="dropdown")
              li
                a(href="#") Join
              li
                a(href="#") MMPL Committee
              li
                a(href="#") Fees
              li
                a(href="#") Honour Roll
          li
            a(href="#") Join
