extends layouts/content_no_sidebar

block breadcrumb
  include partials/breadcrumb

block content
  h1 MMPL Committee
  table(class="table table-striped table-bordered table-condensed" id="committee")
    thead
      tr
        th
          b Position
        th
          b Name
        th
          b Mobile
        th
          b Email
    tbody
      tr
        th President
        td Ian Hart
        td 0451 344 868
        td thepresident@mmpl.org.au
      tr
        td Vice President
        td Rick Bell
        td 0435 764 382
        td vicepresident@mmpl.org.au
      tr
        td Secretary
        td Ben Elliot
        td 0429 227 281
        td thesecretary@mmpl.org.au
      tr
        td Treasurer
        td Kevin Jessup
        td 0407 545 288
        td thetreasurer@mmpl.org.au
      tr
        td Statistician
        td Dave Giles
        td 0419 594 140
        td thestatistician@mmpl.org.au
      tr
        td General Delegate
        td Kjell Johansson
        td 
        td kjell.johansson@mmpl.org.au

block append base_css
  link(href='https://cdn.datatables.net/1.10.23/css/jquery.dataTables.min.css' rel='stylesheet' type='text/css')


block append base_footer_js
  script(
    type="text/javascript"
    src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"
  )
  script().
    $(document).ready( function () {
      var table = $('#committee').DataTable({
        paging: false,
        ordering: false,
        language: {
          info: ''
        }
      });
    } );