extends layouts/content_no_sidebar

block breadcrumb
  include partials/breadcrumb

block content
  h1 Honour Roll
  <table id="honour" class="table table-bordered">
  <thead><tr><th>Year </th><th>President </th><th>Vice President </th><th>Treasurer </th><th>Secretary </th><th>Assistant Secretary </th><th>General Member </th><th>Statistician </th><th>Life Members</th></tr></thead><tbody>
  <tr><td>2016 </td><td>Ian Hart </td><td>Jessie Mclaren </td><td>Kevin Jessup </td><td>Anthony Johnson </td><td>Marie Paisley </td><td>&nbsp;</td><td>Terry Woodhouse </td><td>&nbsp;</td></tr>
  <tr><td>2015 </td><td>Ian Hart </td><td>Jessie Mclaren </td><td>Kevin Jessup </td><td>Anthony Johnson </td><td>Marie Paisley </td><td>&nbsp;</td><td>Terry Woodhouse </td><td>&nbsp;</td></tr>
  <tr><td>2014 </td><td>Ian Hart </td><td>Jessie Mclaren </td><td>Kevin Jessup </td><td>Mark Holly </td><td>&nbsp;</td><td>&nbsp;</td><td>Terry Woodhouse </td><td>&nbsp;</td></tr>
  <tr><td>2013 </td><td>Ian Hart </td><td>Jane Gleeson </td><td>Kevin Jessup </td><td>Mark Holly </td><td>Anthony Johnson </td><td>&nbsp;</td><td>Terry Woodhouse </td><td>&nbsp;</td></tr>
  <tr><td>2012 </td><td>Ian Hart </td><td>Brett Dorrington </td><td>Kevin Jessup </td><td>Jane Gleeson </td><td>Anthony Johnson </td><td>Tania Ahmet </td><td>Terry Woodhouse </td><td>&nbsp;</td></tr>
  <tr><td>2011 </td><td>Paul Holmes </td><td>Ian Hart </td><td>Tania Ahmet </td><td>Paola Ly </td><td>Anthony Johnson </td><td>&nbsp;</td><td>Andrew Walter </td><td>&nbsp;</td></tr>
  <tr><td>2010 </td><td>Paul Holmes </td><td>Andrew Walter </td><td>Tania Ahmet </td><td>Mark Holly </td><td>Kat Dobbyn </td><td>Anthony Johnson </td><td>Lynne Kehm </td><td>&nbsp;</td></tr>
  <tr><td>2009 </td><td>Paul Holmes </td><td>Brett Dorrington </td><td>Tania Ahmet </td><td>Mark Holly </td><td>Kat Dobbyn </td><td>Anthony Johnson </td><td>Lynne Kehm </td><td>&nbsp;</td></tr>
  <tr><td>2008 </td><td>Paul Holmes </td><td>Josh Ellis </td><td>Kathy O'Toole </td><td>Mark Holly </td><td>Tania Ahmet </td><td>Anthony Johnson </td><td>Lynne Kehm </td><td>&nbsp;</td></tr>
  <tr><td>2007 </td><td>Paul Holmes </td><td>Bryan Irwin </td><td>Kathy O'Toole </td><td>Terry Woodhouse </td><td>Anthony Johnson </td><td>&nbsp;</td><td>Lynne Kehm </td><td>&nbsp;</td></tr>
  <tr><td>2006 </td><td>Paul Holmes </td><td>Matt Purtell </td><td>Graeme Counsel </td><td>Terry Woodhouse </td><td>Anthony Johnson </td><td>&nbsp;</td><td>Lynne Kehm </td><td>&nbsp;</td></tr>
  <tr><td>2005 </td><td>Paul Holmes </td><td>Matt Purtell </td><td>Greg Nash </td><td>Callie Whelan </td><td>Anthony Johnson </td><td>&nbsp;</td><td>Lynne Kehm </td><td>&nbsp;</td></tr>
  <tr><td>2004 </td><td>Andrew Sheehan </td><td>Paul Holmes </td><td>Anthony Johnson </td><td>Lyn Kehm </td><td>&nbsp;</td><td>&nbsp;</td><td>Lynne Kehm </td><td>&nbsp;</td></tr>
  <tr><td>2003 </td><td>Andrew Sheehan </td><td>Paul Holmes </td><td>Anthony Johnson </td><td>Charles Foletta </td><td>&nbsp;</td><td>&nbsp;</td><td>Lynne Kehm </td><td>&nbsp;</td></tr>
  <tr><td>2002 </td><td>Andrew Sheehan </td><td>Damien Byrdy </td><td>Chris Godfred-Spenning </td><td>Charles Foletta </td><td>&nbsp;</td><td>&nbsp;</td><td>Lynne Kehm </td><td>&nbsp;</td></tr>
  <tr><td>2001 </td><td>Andrew Sheehan </td><td>Damien Byrdy </td><td>Martin Quinn </td><td>Charles Foletta </td><td>Patrick Willemyns </td><td>&nbsp;</td><td>Chris Godfred-Spenning </td><td>&nbsp;</td></tr>
  <tr><td>2000 </td><td>Lane Foster </td><td>Andrew Sheehan </td><td>Martin Quinn </td><td>Charles Foletta </td><td>&nbsp;</td><td>&nbsp;</td><td>Chris Godfred-Spenning </td><td>&nbsp;</td></tr>
  <tr><td>1999 </td><td>Lane Foster </td><td>Trevor Griffiths </td><td>Chris Habel </td><td>Charles Foletta </td><td>&nbsp;</td><td>&nbsp;</td><td>Chris Godfred-Spenning </td><td>&nbsp;</td></tr>
  <tr><td>1998 </td><td>Ron Aumann </td><td>Ron Aumann </td><td>Martin Quinn </td><td>Wally Pocock </td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
  <tr><td>1998 </td><td>Name Changed To Mmpl At Agm 14.12.1998 </td><td>&nbsp;</td><td>&nbsp;</td><td>R Easden </td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
  <tr><td>1997 </td><td>David Wood </td><td>Ron Aumann </td><td>Martin Quinn </td><td>Wally Pocock </td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
  <tr><td>1996 </td><td>David Wood </td><td>Ron Aumann </td><td>Martin Quinn </td><td>B Holland </td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
  <tr><td>1995 </td><td>Mike Goodwin </td><td>Kjell Johansson </td><td>R Curtis </td><td>B Holland </td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
  <tr><td>1994 </td><td>Kjell Johansson </td><td>Mike Goodwin </td><td>S Morrison </td><td>B Holland </td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
  <tr><td>1993 </td><td>W Tolchard </td><td>J Hyde </td><td>T Rudolph </td><td>Dennis Brady </td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
  <tr><td>1992 </td><td>Jack Ruddell </td><td>J Hyde </td><td>Jack Ruddell </td><td>Dennis Brady </td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
  <tr><td>1991 </td><td>Rod Schramm </td><td>J Hyde </td><td>Dennis Brady </td><td>Dennis Brady </td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
  <tr><td>1990 </td><td>Rod Schramm </td><td>T Wilks </td><td>Dennis Brady </td><td>Dennis Brady </td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
  <tr><td>1989 </td><td>Rod Schramm </td><td>M Taylor </td><td>Rod Schramm </td><td>Dennis Brady </td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
  <tr><td>1988 </td><td>Rod Schramm </td><td>M Taylor </td><td>Rod Schramm </td><td>Dennis Brady </td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>Des Shattock</td></tr>
  <tr><td>1987 </td><td>Rod Schramm </td><td>M Taylor </td><td>Rod Schramm </td><td>Dennis Brady </td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>Mick Quinn</td></tr>
  <tr><td>1986 </td><td>Rod Schramm </td><td>B Bremner </td><td>Rod Schramm </td><td>Dennis Brady </td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>M Kilroy</td></tr>
  <tr><td>1985 </td><td>Rod Schramm </td><td>Jack Ruddell </td><td>D Massey </td><td>Dennis Brady </td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>Jack Ruddell</td></tr>
  <tr><td>1984 </td><td>Rod Schramm </td><td>B Sales </td><td>G Halpin </td><td>Dennis Brady </td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>Dennis Brady</td></tr>
  <tr><td>1983 </td><td>Rod Schramm </td><td>B Sales </td><td>G Halpin </td><td>Dennis Brady </td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>Rod Schramm</td></tr>
  <tr><td>1983 </td><td>Formerly The Hawthorn District Pool League </td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td></td></tr>
  </tbody></table>

block append base_css
  link(href='https://cdn.datatables.net/1.10.23/css/jquery.dataTables.min.css' rel='stylesheet' type='text/css')


block append base_footer_js
  script(
    type="text/javascript"
    src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"
  )
  script().
    $(document).ready( function () {
      var table = $('#honour').DataTable({
        paging: false,
        language: {
          info: ''
        }
      });
      table.column('0:visible').order('desc').draw();
    } );