<!-- Modernizr -->
script(src='js/modernizr.js')

<!-- Global site tag (gtag.js) - Google Analytics -->
script(async src="https://www.googletagmanager.com/gtag/js?id=G-M2WK4XHBTB")
script().
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-M2WK4XHBTB');
